@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'JetBrains Mono', monospace;
	font-size: 62.5%;
	background-color: #171717;
	color: #faf8ff;
}
